@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,800,800italic,900,900italic);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

/*header*/
.navbar{
    min-height:70px;

}
.btnsrch{
    font-weight: bold;

}


.btn-outline-success {
    border-color: #F7931D !important; //orange
}
.searchbox-wrapper{

    padding-bottom: 20px;
    background: rgba(247, 147, 29, 0.8);
    margin-top: 80px;
}




.btn-outline-success:hover {
    border-color: #F7931D !important;
    background-color: #F7931D  !important;
    color: white !important;
}
.btn-outline-success {
    color: #F7931D !important;
}

.navbar-brand{
    font-weight: bold;
    color : #585C5D !important;
    font-size:35px;

}
.navbar-nav{
    font-size:20px;
}
/*header*/
/*login/logout*/
.loggeduser{

    color : #585C5D !important;
}

/*footer*/


html,body {
    font-family: 'Alegreya Sans', sans-serif;
  /*  padding: 15px 0;*/

   /* overflow-y: scroll;*/

   /* overflow: visible;*/
}

ul, ol {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

.btn, .form-control {
    border-radius: 2px;
    box-shadow: none !important;
}


.footer2 a {
    color: #DDD;
}

.footer2 a:hover,
.footer2 a:focus,
.footer2 a:active {
    color: #FFF;
}

.footer2 .footer {
    background-color: #2E3436;
    padding: 35px 0;
    margin-top: 5em;
}

.footer2 .footer nav h3 {
    font-size: 18px;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 1em 0;
}

.footer2 .footer nav h3 span {
    font-weight: 300;
    text-transform: capitalize;
}

.footer2 .footer nav ul li a {
    text-decoration: none;
    display: block;
    padding: 4px 0;
    font-size: 13px;
}

.footer2 .footer .input-group {
    margin: 15px auto;
    max-width: 400px;
}

.footer2 .footer .form-control {
    border-radius: 2px 0 0 2px;
    background-color: #585C5D;
    border-color: #585C5D;
    color: #DDD;
}

.footer2 .footer .form-control:hover,
.footer2 .footer .form-control:focus {
    border: 1px solid #222728;
    background-color: #222728;
}

.footer2 .footer .input-group-addon {
    border-radius: 0 2px 2px 0;
    background-color: #F7931D;
    color: #FFF;
    border-color: #F7931D;
}

.footer2 .footer .social {
    margin: 0 auto;
    display: table;
}

.footer2 .footer .social li {
    float: left;
}

.footer2 .footer .social li a {
    display: block;
    font-size: 1em;
    color: #DDD;
    width: 30px;
    height: 30px;
    line-height: 32px;
    padding: 0;
    text-align: center;
    background-color: #222728;
    border-radius: 2px;
    margin: 5px 4px
}

.footer2 .footer .social li a:hover {
    background-color: #3A4144;
}

.footer2 .footer-bottom {
    background-color: #222728;
    padding: 15px 0;
    color: #DDD;
    font-size: 13px;
}

.footer2 .footer-bottom ul li {
    display: inline-block;
}

.footer2 .footer-bottom ul li a {
    display: block;
    padding-left: 8px;
}

.footer2 .footer-bottom ul li a:after {
    content: "-";
    padding-left: 8px;
}

.footer2 .footer-bottom ul li:last-child a:after {
    content: "";
}

.footer2 {
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
}

@media (max-width: 550px) {
    .footer2 .footer-bottom .pull-left,
    .footer2 .footer-bottom .pull-right {
        float: none !important;
        width: 100%;
        padding: 10px;
        text-align: center;
    }
}
@media (max-width: 767px) {
    .footer2 .footer {
        text-align: center;
    }
}
@media (max-width: 991px) {
    .footer2 .footer ul {
       margin-bottom: 30px;
    }
}

/*footer*/

/*modal*/





/*modal*/


/*search*/
#imaginary_container{

}
.stylish-input-group .input-group-addon{
    background: white !important;

}
.stylish-input-group .form-control{
    border-right:0;
    box-shadow:0 0 0;
    border-color:#ccc;
}
.stylish-input-group #btnSrch{
    border:0;
    background:transparent;
}
.searchbox{

    overflow: auto;
}
.rowsb2 {
    margin-top:20px !important;
}
.rowsb1{
    padding-top:20px !important;
}

/*search*/
/*upload*/
.uploadbox-wrapper{

    padding-bottom: 170px;
    background: rgba(224, 222, 222, 1);
    margin-top: 80px;
}

.uploadbox{

    overflow: auto;

}
.rowub2 {
    margin-top:20px !important;
    padding-top: 90px;
}
.rowub1{
    margin-top: 90px;
    padding-top:20px !important;
}
.fa{
    color: #585c5d;
}



/*upload*/




/*categorie*/
div.container.catcols{
   /*text-align: center;*/
    margin-top : 100px!important;
}
c
/*categorie*/

/*links*/
    /* unvisited link */

a {
    text-decoration:none;
}

a.orangelink:link {
    color:  #cc6600;
}

/* visited link */
a.orangelink:visited {
    color: #F7931D;
}

/* mouse over link */
a.orangelink:hover {
    color: #ff8000;
}

/* selected link */
a.orangelink:active {
    color: #e67300;
}
/*links*/

/*contact*/

/*.content-header{
    font-family: 'Oleo Script', cursive;
    color:#fcc500;
    font-size: 45px;
}

.section-content{
    text-align: center;

}
#contact{

    font-family: 'Teko', sans-serif;
    padding-top: 60px;
    width: 100%;
    width: 100vw;
    height: 550px;
    background: #3a6186; !* fallback for old browsers *!
    background: -webkit-linear-gradient(to left, #3a6186 , #89253e); !* Chrome 10-25, Safari 5.1-6 *!
    background: linear-gradient(to left, #3a6186 , #89253e); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!
    color : #fff;
}
.contact-section{
    padding-top: 40px;
}
.contact-section .col-md-6{
    width: 50%;
}

.form-line{
    border-right: 1px solid #B29999;
}

.form-group{
    margin-top: 10px;
}
label{
    font-size: 1.3em;
    line-height: 1em;
    font-weight: normal;
}
.form-control{
    font-size: 1.3em;
    color: #080808;
}
textarea.form-control {
    height: 135px;
    !* margin-top: px;*!
}

.submit{
    font-size: 1.1em;
    float: right;
    width: 150px;
    background-color: transparent;
    color: #fff;

}*/
/*contact*/
.dropdown {
    /*background:#fff;
    border: none;
   border-radius:4px;
    width:200px;*/
}
.dropdown-menu>li>a {
    color:#428bca;
}
.dropdown ul.dropdown-menu {
    border-radius:4px;
    box-shadow:none;
    margin-top:20px;
    width:300px;
}
.dropdown ul.dropdown-menu:before {
    content: "";
    border-bottom: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    right: 16px;
    z-index: 10;
}
.dropdown ul.dropdown-menu:after {
    content: "";
    border-bottom: 12px solid #ccc;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    position: absolute;
    top: -12px;
    right: 14px;
    z-index: 9;
}


/*loading*/
.spinner {
    margin: 100px auto;
    width: 40px;
    height: 40px;
    position: relative;
    text-align: center;

    -webkit-animation: sk-rotate 2.0s infinite linear;
    animation: sk-rotate 2.0s infinite linear;
}

.dot1, .dot2 {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    background-color: #333;
    border-radius: 100%;

    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
    top: auto;
    bottom: 0;
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 50% {
          transform: scale(1.0);
          -webkit-transform: scale(1.0);
      }
}
/*loading*/

/*inputupload*/

.inptit{
    margin-bottom: 20px;
}

.inpauth{
    margin-bottom: 20px;
}

.inptxt{
    margin-bottom: 20px;
    width: 1088px;
    height: 150px;
}
/*pagination*/
.pagination{
    margin-top:10px;
}
.page-item.active .page-link {

    background-color: #F7931D !important;
    border-color: #F7931D !important;
}
.page-link{
    color:#F7931D !important;
}
.page-item.active .page-link{
    color:white !important;
}
/*pagination*/